<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>__LABEL__</string>
  <key>ProgramArguments</key>
  <array>
    <string>__DOLT__</string>
    <string>sql</string>
    <string>-q</string>
    <string>SELECT 1</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__REPLICA_DIR__</string>
  <key>StartInterval</key>
  <integer>__INTERVAL__</integer>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>__REPLICA_DIR__/.keepwarm.log</string>
  <key>StandardErrorPath</key>
  <string>__REPLICA_DIR__/.keepwarm.err</string>
</dict>
</plist>
